/* pseudo element are use */

.main_div {
  color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1::after {
  content: " from jaipur";
  display: block;
  text-align: center;
}
h1::before {
  content: "I am ";
  display: block;
  text-align: center;
}

p::first-line {
  background-color: blanchedalmond;
  text-decoration: dotted;
  text-transform: capitalize;
}

p::first-letter {
  color: yellow;
  font-size: 30px;
}
p:first-of-type::first-line {
  background-color: green;
}
