* {
  margin: 0;
  padding: 0;
}

div {
  height: 200px;
  width: 200px;
  background-color: aqua;
  margin-bottom: 3px;
  /* border-radius: 50%; */
}

.d .div1 {
  border-radius: 50%;
  background-image: linear-gradient(
    50deg,
    green,
    blue,
    orange,
    yellow,
    purple,
    green,
    white
  );
}
.d .div2 {
  border-radius: 40%;
  background-image: radial-gradient(green, gray, orange, brown, red, pink);
}

.d .div3 {
  border-radius: 50%;
  background-image: conic-gradient(gray, orange, yellow, purple, green);
}

.d .div4 {
  background-image: url("hourse.avif");
  background-size: cover;
  border-radius: 20%;
  float: right;
  height: 400px;
  width: 600px;
  /* filter: blur(3px); */
  /* filter: hue-rotate(); */

  /* filter: brightness(40%); */
}

.d {
  background-image: repeating-linear-gradient(green, gray, orange);
  width: 800px;
  height: 840px;
  border-radius: 50%;
}
